<form [formGroup]="registrationForm">
    <h2>Register</h2>
    <mat-form-field appe >
      <input
        matInput
        placeholder="Name"
        
        formControlName="name"
        [(ngModel)]="registrationForm.name"
        required
    /></mat-form-field>
    <mat-error
    *ngIf="
      registrationForm.controls.name.invalid &&
      registrationForm.controls.name.touched
    "
  >
    Please enter your name.
  </mat-error>
  <br/> 
    <mat-form-field>
        <input
          matInput
          placeholder="Email"
          
          (input)="onEmailInput($event)"
          [(ngModel)]="registrationForm.email"
          formControlName="email"
          required
      /></mat-form-field>
      <mat-error
      *ngIf="
        registrationForm.controls.email.invalid &&
        registrationForm.controls.email.touched
      "
    >
      Please enter a valid email address.
    </mat-error><br/>

      <mat-form-field>
        <textarea
          matInput
          placeholder="Address"
          [(ngModel)]="registrationForm.address"
          name="address"
          formControlName="address"
          required
        ></textarea>
      </mat-form-field> <mat-error
      *ngIf="
        registrationForm.controls.address.invalid &&
        registrationForm.controls.address.touched
      "
    >
      Please enter your address. </mat-error
    ><br/>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          [(ngModel)]="registrationForm.password"
          name="password"
          formControlName="password"
          required
      /></mat-form-field>
      <mat-error
    *ngIf="
      registrationForm.controls.password.invalid &&
      registrationForm.controls.password.touched
    "
  >
    Password must contain at least one special character, one number, one
    uppercase letter, one lowercase letter, and be 6 to 50 characters long.
  </mat-error><br/>
      <button
    mat-raised-button
    color="primary"
    
    (click)="Register()"
  >
    Register
  </button>
</form>